<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>To Do List</title>
  </head>
  <body>
    <!-- Date -->
    <div class="box" id="heading">
      <h1><%= title %></h1>
    </div>

    <!-- Todo List -->
    <div class="box">
      <% newTodo.forEach(todo => { %>

      <form action="/delete" method="post">
        <div class="item">
          <!-- submmit the form when cheked the box -->
          <input
            type="checkbox"
            name="checkbox"
            value="<%= todo._id %>"
            onChange="this.form.submit()"
          />
          <p><%= todo.name %></p>
        </div>
      </form>
      <% }) %>

      <form action="/" method="post" class="item">
        <input
          type="text"
          name="todo"
          placeholder="Add a new item"
          autocomplete="off"
          spellcheck="true"
        />
        <button type="submit" name="button" value="<%= title %>">+</button>
      </form>
    </div>
  </body>
  <footer>
    <p>© 2022 Thomas Lin. All rights reserved.</p>
  </footer>
</html>
