<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>To Do List</title>
  </head>
  <body>
    <!-- Date -->
    <div class="box" id="heading">
      <h1><%= day %></h1>
    </div>

    <!-- Todo List -->
    <div class="box">
      <% newTodo.forEach(todo => { %>
      <div class="item">
        <input type="checkbox" />
        <p><%= todo.name %></p>
      </div>
      <% }) %>

      <form action="/" method="post" class="item">
        <input
          type="text"
          name="todo"
          placeholder="Add a new item"
          autocomplete="off"
          spellcheck="true"
        />
        <button type="submit" name="button">+</button>
      </form>
    </div>
  </body>
  <footer>
    <p>© 2022 Thomas Lin. All rights reserved.</p>
  </footer>
</html>
